* {
	box-sizing: border-box;
}
body {
	font-family: Tahoma, sans-serif;
	line-height: 1.6;
	color: #333333;
}
.section {	
	padding: 30px 10%;
}
.header {
	text-align: center;
	font-size: 24px;
	margin-top: 70px;
}
.header span {
	display: block;
	font-weight: 300;
}
.header strong {
	font-weight: 900;
	text-transform: uppercase;
}
.main {
	text-align: center;
	margin-top: 70px;
}
.video, .form {
	display: inline-block;
	vertical-align: top;
}
.form {
	margin-left: 30px;
	text-align: center;
	border: 5px solid #2727d9;
	padding: 20px 20px;
	font-weight: 900;
}
.form-header {
	text-align: center;
	font-size: 20px;
	margin-bottom: 30px;
	margin-top: 6px;
}
.form input {
	display: block;
	margin-top: 10px;
	width: 300px;
	padding: 17px;
	font-size: 18px;
	border: 1px solid #333;
}
.btn {
	width: 300px;
	padding: 17px;
	font-size: 18px;
	color: #FFFFFF;
	background-color: #3c3cdd;
	border: 1px solid #333;
	display: block;
	margin: 10px auto;

}
.features {
	margin: 85px auto;
	text-align: center;
}
.col {
	margin: 0px 50px;
	display: inline-block;
}
.col p {
	line-height: 1.2;
}
.clients {
	text-align: center;
	margin: 56px 0px;

}
.clients img {
	width: 20%;
	height: auto;
	margin: 16px 13px;
}
