/* Fonts */
@font-face {
  font-family: 'Proxima-Nova-Rg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima-Nova-Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* Theme colors */
/* Basic settings */
html {
  font-size: 10px;
}
body {
  font-family: 'Proxima-Nova-Rg', sans-serif;
}
button::focus,
input::focus,
a::focus,
textarea::focus,
.popup-close::focus {
  outnine: none;
}
.button {
  padding: 1rem 3rem;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f7ae01;
  border-radius: 8px;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  background-color: #e8a301;
}
/* Typography */
section {
  padding: 10rem 0;
}
/* Main */
.main {
  background: #ffffff url(../img/main-bg.png) center center no-repeat;
  background-size: cover;
  padding: 1.5rem 0 5rem;
}
.main-info {
  margin-top: 10rem;
}
.main-info h1 {
  text-transform: uppercase;
  font-family: 'Proxima-Nova-Bold', sans-serif;
  font-size: 3.5rem;
  line-height: 5rem;
}
.main-info p {
  font-family: 'Proxima-Nova-Bold', sans-serif;
  margin-top: 3rem;
  font-size: 2rem;
  line-height: 2.5rem;
}
.main-info span {
  margin-top: 3rem;
  display: inline-block;
  text-align: center;
  background-color: #70c849;
  padding: 2rem 2rem;
  font-size: 1.7rem;
  color: #ffffff;
}
.main-info span strong {
  font-size: 2rem;
}
.main-info h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: 'Proxima-Nova-Bold', sans-serif;
}
.main-form {
  background-color: #ffffff;
  margin-top: 10rem;
  padding: 4rem 3.5rem;
  text-align: center;
}
.main-form span {
  font-size: 1.7rem;
  line-height: 1rem;
}
.main-form form {
  text-align: center;
  margin-top: 3rem;
}
.main-form form input {
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  margin-bottom: 2.5rem;
  border: 1px solid #dddddd;
}
.main-form form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  padding: 0.5rem;
  font-size: 1.3rem;
}
.main-form form button {
  display: inline-block;
  height: 5rem;
  width: 100%;
}
.main-form form small {
  display: inline-block;
  margin-top: 1rem;
}
.form-comment {
  display: inline-block;
  padding: 2rem 3rem;
  margin-top: 1rem;
}
.header {
  height: 7rem;
}
.phone-link {
  display: inline-block;
  font-family: 'Proxima-Nova-Bold', sans-serif;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  white-space: nowrap;
  color: #292929;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.features h2 {
  text-align: center;
  font-family: 'Proxima-Nova-Bold', sans-serif;
  margin-bottom: 10rem;
}
.features-block {
  text-align: center;
}
.features-img img {
  display: block;
  margin: 0 auto;
  height: 7rem;
}
.features h3 {
  font-family: 'Proxima-Nova-Bold', sans-serif;
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.features p {
  display: inline-block;
  width: 90%;
}
.price {
  background: #70c849 url(../img/price-bg.png) center;
  background-position: cover;
  text-align: center;
}
.price .h1,
.price .h3 {
  color: #ffffff;
}
.price .h3 {
  font-size: 1.8rem;
}
.price-btn {
  margin-top: 2rem;
  margin-left: 5rem;
}
.price-column {
  margin-top: 5rem;
  padding: 2rem;
  background-color: #ffffff;
  min-height: 55rem;
}
.price-column img {
  max-width: 100%;
}
.price-column span {
  font-size: 2rem;
  font-family: 'Proxima-Nova-Bold', sans-serif;
}
.price-column .h3 {
  color: #292929;
  margin-bottom: 3rem;
  font-family: 'Proxima-Nova-Bold', sans-serif;
}
.price-column ul {
  min-height: 14rem;
  list-style-type: none;
  padding: 0;
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.price-column ul li::before {
  content: '';
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.5rem;
  background: url(../img/ico/V.svg) center no-repeat;
  background-size: cover;
}
.feedback {
  background: url(../img/feedback/feedback-bg.png) no-repeat center;
  background-size: cover;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-slider {
  padding: 5rem 6rem;
  background-color: #ffffff;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  margin-top: 7rem;
  position: relative;
}
.feedback-slider-item p {
  font-size: 1.6rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #70c849;
  opacity: 0.85;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  border: none;
  outline: none;
}
.feedback-slider-btn:hover {
  opacity: 1;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback .h2 {
  text-align: center;
  font-family: 'Proxima-Nova-Bold', sans-serif;
}
.feedback .hand-form {
  position: relative;
  text-align: center;
  margin-top: 10rem;
}
.feedback .hand-form .h3 {
  font-family: 'Proxima-Nova-Bold', sans-serif;
  margin-bottom: 5rem;
}
.feedback .hand-form input {
  width: 80%;
  height: 5rem;
  padding: 0 2rem;
  margin-bottom: 2.5rem;
  border: 1px solid #dddddd;
}
.feedback .hand-form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  padding: 0.5rem;
  font-size: 1.3rem;
}
.feedback .hand-form img {
  position: absolute;
  display: inline-block;
  left: -20rem;
  max-width: 50%;
  bottom: -15rem;
}
.media {
  margin-top: 3rem;
}
.media-body {
  font-size: 1.8rem;
  line-height: 1.3rem;
  position: relative;
}
.media p {
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  border: 2px solid #70c849;
  font-style: italic;
  position: relative;
}
.media p:before {
  content: '';
  position: absolute;
  display: block;
  background-color: #fff;
  top: -1.9rem;
  left: 4rem;
  height: 2rem;
  width: 2rem;
  border: 2px solid #70c849;
  border-bottom: none;
  border-top-right-radius: 2rem;
}
.slick-active {
  outline: none;
}
.prev {
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  background: url(../img/ico/prev-arr.svg) center no-repeat;
  background-size: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  top: 50%;
}
.next {
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  background: url(../img/ico/next-arr.svg) center no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: 60%;
  right: 0;
  top: 50%;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-close {
  position: absolute;
  right: -3.5rem;
  top: -2rem;
  background-color: transparent;
  font-size: 4rem;
  color: #ffffff;
  border: none;
}
.popup-form {
  margin-top: 10rem;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 3rem 3rem;
  width: 30rem;
}
.popup textarea {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #dddddd;
}
@media (max-width: 1024px) {
  .feedback {
    padding: 0px 10px;
  }
  .feedback-next-btn {
    right: 0;
  }
  .feedback-prev-btn {
    left: 0;
  }
}
@media (max-width: 992px) {
  .main {
    background-position: right top;
  }
  .main-info {
    text-align: center;
    margin-top: 7rem;
  }
  .main-info h1 {
    font-size: 3rem;
  }
  .main-form {
    margin-top: 5rem;
  }
  .form-comment {
    margin-left: 50%;
  }
  .price {
    margin-top: 0;
    padding: 5rem;
  }
  .price-btn {
    margin-left: 0;
  }
  .price-column img {
    display: inline-block;
  }
  .price-column span {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .feedback-next-btn {
    right: 0;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .slider-feedback {
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .logo {
    text-align: center;
    margin-bottom: 3rem;
  }
  .main-info {
    margin-top: 3rem;
  }
  .main-info h1 {
    font-size: 2.5rem;
  }
  .form-comment {
    margin-left: 0;
    color: #ffffff;
  }
  .price-btn {
    margin-left: 0;
  }
  .hand-form .hand-img {
    left: -50px;
  }
}
@media (max-width: 425px) {
  .header-btn {
    padding: 1rem;
  }
  .price-btn {
    margin-left: 0;
  }
  .popup-close {
    right: 0rem;
    top: -1.2rem;
    color: #70c849;
  }
}
